<ion-header>
  <ion-toolbar>
    <ion-title>Tab 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Número 1</ion-label>
    <ion-input type="number" [(ngModel)]="num1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número 2</ion-label>
    <ion-input type="number" [(ngModel)]="num2"></ion-input>
  </ion-item>

  <ion-button (click)="somar()">Somar</ion-button>
  <ion-button (click)="subtrair()">Subtrair</ion-button>
  <ion-button (click)="multiplicar()">Multiplicar</ion-button>
  <ion-button (click)="dividir()">Dividir</ion-button>
  <ion-button (click)="raiz()">Raiz Quadrada</ion-button>
  <ion-button (click)="fatorial()">Fatorial</ion-button>

  <ion-item>
    <ion-label position="floating">Resultado</ion-label>
    <ion-input readonly="true" [(ngModel)]="resultado"></ion-input>
  </ion-item>

</ion-content>
