<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="/assets/avatar.png"></ion-img>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Stitch assaltando a geladeira</ion-card-subtitle>
        <ion-card-title>Vinícius Brigido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Apenas um programador buscando seu lugar ao sol
      </ion-card-content>

      <ion-item>
        <ion-button (click)="abreGitHub()"><ion-icon name="logo-github"></ion-icon></ion-button>
        <ion-button (click)="abreLinkedin()"><ion-icon name="logo-linkedin"></ion-icon></ion-button>
        <ion-button (click)="abreInstagram()"><ion-icon name="logo-instagram"></ion-icon></ion-button>
        <ion-button (click)="abreTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
