<ion-header>
  <ion-toolbar>
    <ion-title>Tab 7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Advinhe o número</ion-label>
      <ion-input type="number" [(ngModel)]="numeroAdvinhacao"></ion-input>
    </ion-item>

    <ion-button expand="block" [disabled]='desabilita' (click)="tentarAdvinhar()">TENTAR ADVINHAR</ion-button>

    <ion-item>
      <ion-label>Tentativas Restantes: {{tentativasRestantes}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="mensagem"></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="reiniciarPartida()">REINICIAR PARTIDA</ion-button>
  </ion-list>

</ion-content>
